<html>

<head>
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to Insta Monitor</title>
  {% endif %}
</head>

<body>
  <div>
    Insta Monitor:
    <a href="/index">Home</a>
    <a href="/login">Sign in</a>
    <a href="#">Search</a>
    <a href="#">Favorite</a>
    <a href="#">Memories</a>
  </div>
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>

</html>
