{% extends"base.html" %}

{% block app_content %}

<section class="profile_info container">
  <a href="{{ url_for('user', username=self_info['username']) }}">
    <img class="profile_info__userpic" src="{{ self_info.profile_pic_url }}" alt="">
  </a>
  <ul class="profile_info__list">
    <li class="profile_info__item profile_info__item--username">
      <a href="{{ url_for('user', username=self_info['username']) }}">
        <p>{{ self_info['username'] }}</p>
      </a>
    </li>
    <li class="profile_info__item profile_info__item--full_name">
      <p>{{ self_info['full_name'] }}</p>
    </li>
    <li class="profile_info__item profile_info__item--biography">
      <p>{{ self_info['biography'] }}</p>
    </li>
    <li class="profile_info__item profile_info__item--email">
      <p>E-mail:
        <a href="mailto:{{ self_info['email'] }}">
          {{ self_info['email'] }}
        </a>
      </p>
    </li>
    <li class="profile_info__item profile_info__item--tel">
      <p>Phone number:
        <a href="tel:{{ self_info['phone_number'] }}">
          {{ self_info['phone_number'] }}
        </a>
      </p>
    </li>
  </ul>
</section>

<section class="following container">
  <h2>Following</h2>
  <ul class="following__tray">
    {% for story in stories %}
      <li class="following__user">
        <a href="{{ url_for('user', username=story['user']['username']) }}">
          <img class="following__img"  src="{{ story['user']['profile_pic_url'] }}" alt="">
          <p>{{ story['user']['username'] }}</p>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>

<section class="posts container">
  <h2>Feed</h2>
  <ul class="posts__feed">
    {% for post in posts %}
      {% if 'media_or_ad' in post and 'injected' not in post['media_or_ad'] %}
        <li class="posts__item">
          {% if post['media_or_ad']['media_type'] == 1 or post['media_or_ad']['media_type'] == 2 %}
            <div class="posts__img" style="background-image: url('{{ post['media_or_ad']['image_versions2']['candidates'][0]['url'] }}');"></div>
          {% else %}
            <div class="posts__img" style="background-image: url('{{ post['media_or_ad']['carousel_media'][0]['image_versions2']['candidates'][0]['url'] }}');"></div>
          {% endif %}
          <a href="{{ url_for('user', username=post['media_or_ad']['user']['username']) }}">
            <p>{{ post['media_or_ad']['user']['username'] }}</p>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</section>

{% endblock %}
